@import url("./estilos/header.css");

:root{
    --cor-de-fundo: #cecece;
    --cor-da-fonte: #ffffff;
    --cor-fonte-titulos:#083610;
    --cor-de-fundo-cabecalho:#083610;
}

body{
    background-image: url("/img/menu\ 1.jpeg");
    background-repeat: no-repeat;
    background-position: ;
    background-image: url("/img/WhatsApp\ Image\ 2024-06-19\ at\ 10.07.16\ \(3\).jpeg");
    background-color: var(--cor-de-fundo);
}