@import url("./estilos/header.css");

:root{
    --cor-de-fundo: #cae7d5;
    --cor-da-fonte: #ffffff;
    --cor-fonte-titulos:#083610;
    --cor-de-fundo-cabecalho:#083610;
}

body{
    background-image: url("/img/menu\ 1.jpeg");
    background-repeat: no-repeat;

    background-image: url("/img/2.jpeg");
    background-position: 0 100;
    background-color: var(--cor-de-fundo);
}

.conteudo1_perfil{
    display: flex;
    font-size: 50px;

}

.conteudo1 h2{
    margin: 60px;
    color: #083610;
    font-size: 60px;
}

.perfil img{
width: 80%;
margin: 50px;
border-radius: 50%;
}

.conteudo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.conteudo2 h2 {
font-size: 20px;

}

.conteudo2 img{
width: 80%;

}

.conteudo2_texto{
    width: 70%;
    background-color: #083610;
    color: white;
    padding: 20px;
    margin-top: 30px;
}

.conteudo3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.conteudo3 h2 {
font-size: 20px;

}

.conteudo3 img{
width: 80%;

}

.conteudo3_texto{
    width: 70%;
    background-color: #083610;
    color: white;
    padding: 20px;
    margin-top: 30px;
}

.conteudo4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.conteudo4 h2 {
font-size: 20px;

}

.conteudo4 img{
width: 80%;

}

.conteudo4_texto{
    width: 70%;
    background-color: #083610;
    color: white;
    padding: 20px;
    margin-top: 30px;
}

@media (min-width:1024px){
    .conteudo2{
        flex-direction: row;
        margin: 20px;
        
    }
    .conteudo2_texto{
        margin: 20px;
        font-size: 60px;
    }
    .conteudo2 h2 {
        font-size: 79px;
    }

    .conteudo3{
flex-direction: row;
margin: 20px;

    }

    .conteudo4{
     flex-direction: row;
      margin: 20px;
    }
}