@import url("./estilos/header.css");

:root{
    --cor-de-fundo: #cae7d5;
    --cor-da-fonte: #ffffff;
    --cor-fonte-titulos:#083610;
    --cor-de-fundo-cabecalho:#083610;
}

body{
    background-image: url("/img/menu\ 1.jpeg");
    background-repeat: no-repeat;

    background-image: url("/img/2.jpeg");
    background-position: 0 100;
    background-color: var(--cor-de-fundo);
}

.conteudo1_perfil{
    display: flex;

}

.conteudo1 h2{
    color: #083610;
    font-size: 30px;
}

.perfil img{
width: 80%;
border-radius: 50%;
}